<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.9.1" targetFramework="net452" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net452" />
  <package id="Costura.Fody" version="4.1.0" targetFramework="net452" developmentDependency="true" />
  <package id="Fody" version="6.0.5" targetFramework="net452" developmentDependency="true" />
  <package id="FParsec" version="1.0.3" targetFramework="net452" />
  <package id="FSharp.Core" version="4.3.4" targetFramework="net452" />
  <package id="ILMerge" version="3.0.29" targetFramework="net452" />
  <package id="LtGt" version="2.0.1" targetFramework="net452" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net452" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net452" />
  <package id="NAudio" version="1.9.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net452" />
  <package id="Sprache" version="2.2.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net452" />
  <package id="YoutubeExplode" version="4.7.12" targetFramework="net452" />
  <package id="YoutubeSearch.dll" version="1.1" targetFramework="net452" />
</packages>